*{margin:0; padding:0; box-sizing: border-box;}

#time-js h1{
    text-align: center;
    color: violet;
}

#name-js input{
    display:block;
    margin:0 auto;
    outline: none;
}

.name_h3{
    text-align: center;
}